          <p>We  Welcome You to <a href="http://goserwizz.com">GoSerwizz.com</a>.</p>
          <p>In our  endeavor to serve you better we have devised detailed Terms and Conditions of  use of our <a href="http://goserwizz.com">GoSerwizz</a> and  mobile app. We request you to please read through these Terms and Conditions  carefully before downloading the Mobile App and / or using the <a href="http://goserwizz.com">services</a> and <a href="http://goserwizz.com">GoSerwizz  Website</a>. We trust you will have a great experience and we look forward to  serving you.</p>
          
          <ol>
          <li>
          <h2>DEFINITIONS</h2>
          <ol type="a">
          <li>"Thrivikram Technology Pvt. Ltd." or "<a href="http://goserwizz.com">GoSerwizz.com</a>" or "<a href="http://goserwizz.com">GoSerwizz</a>" or "Us"  or "We" or "Service Provider" or "Company" are all terms used in relation to  Thrivikram Technology Pvt Ltd, a Company duly incorporated under the provisions  of the Companies Act, 1956, deemed to be registered under the Companies Act,  2013 and having its registered address at No. 806, 22nd Main, 36th &lsquo;A&rsquo; Cross,  Jayanagar 4th T Block, Banglore - 560041, Karnataka, India and is the owner of  the website <a href="http://goserwizz.com">GoSerwizz.com</a> (the  "Website") and ("goSerwizz") ("Mobile Application").</li>
          <li>&ldquo;You&rdquo; or &ldquo;Customer&rdquo; or &ldquo;Registered Customer&rdquo;: refers to the  Customer or viewer of the <a href="http://goserwizz.com">GoSerwizz website</a> or  Mobile Application. Customer(s) means any individual or business  entity/organization that legally resides or operates in India, and uses or has  the right to use the <a href="http://goserwizz.com">services</a> provided  by Thrivikram Technology Pvt. Ltd or <a href="http://goserwizz.com">GoSerwizz.com</a> or its  Mobile Application. The term &ldquo;Customer&rdquo; includes its assignees, affiliates,  agents, successors and legal representatives.</li>
          <li>The <a href="http://goserwizz.com">services</a> provided  by third party service providers / <a href="http://goserwizz.com">car dealers</a> or  service providers / <a href="http://goserwizz.com">brand service centers</a> are  termed as <a href="http://goserwizz.com">Car Maintenance</a> and <a href="http://goserwizz.com">Repair  Services</a> &ldquo; CMR <a href="http://goserwizz.com">services</a> &rdquo;.</li>
          <li>The <a href="http://goserwizz.com">GoSerwizz</a> Offerings &ldquo;GSO&rdquo; make available CMR <a href="http://goserwizz.com">services</a> in the  following manner:
          <ol type="i">
          <li><a href="http://goserwizz.com">Service Center wise</a>,</li>
          <li><a href="http://goserwizz.com">Brand Wise</a>,</li>
          <li><a href="http://goserwizz.com">City wise</a>.</li>
          </ol>
          </li>
          <li>Servicing of Customer&rsquo;s vehicle for scheduled/unscheduled, <a href="http://goserwizz.com">maintenance/accidental</a> or for  any other kind of <a href="http://goserwizz.com">repair and  maintenance work of vehicle</a> is termed as &ldquo;Customer Vehicle&rdquo;.</li>
          <li>The Service Provider offers a technology platform (&ldquo;Software&rdquo;) and  (&ldquo;Mobile App&rdquo;)wherein Customer can choose the kind of service that the Customer  requires from the available GSO<a href="http://goserwizz.com"> Services</a> like  available
          <ol type="i">
          <li><a href="http://goserwizz.com">Service Center wise</a>,</li>
          <li><a href="http://goserwizz.com">Brand Wise</a>,</li>
          <li><a href="http://goserwizz.com">City wise</a>.</li>
          </ol>
          </li>
          <li><a href="http://goserwizz.com">GoSerwizz</a> Offerings will find third parties to provide CMR <a href="http://goserwizz.com">services</a> and any  other service&rsquo;s that may be available through the Software (&ldquo;<a href="http://goserwizz.com">GoSerwizz.com</a>&rdquo;) /  Mobile App. It is up to the CMR service provider to offer their third party <a href="http://goserwizz.com">services</a>, which  may be scheduled through use of the <a href="http://goserwizz.com">goserwizz website</a>, mobile  application or any other medium. &ldquo;<a href="http://goserwizz.com">GoSerwizz</a> Offering&rdquo; is a service where the Customer or its representative will drive the  Customer Vehicle to the CMR service center to avail the <a href="http://goserwizz.com">services</a> offered  by the third party <a href="http://goserwizz.com">service center</a>.
          </li>
          <li>The Service Provider does not represent or endorse the accuracy or  reliability of any information, or advertisements (collectively, the &ldquo;Content&rdquo;)  contained on, distributed through, or linked, downloaded or accessed from any  of the <a href="http://goserwizz.com">Services</a> contained on <a href="http://goserwizz.com">GoSerwizz   Website</a>/Mobile  App</li>
          <li>The <a href="http://goserwizz.com">Services</a> may be  requested through, <a href="http://goserwizz.com">GoSerwizz Website</a> or an  application supplied by the Service Provider and downloaded and installed by  You on any internet-enabled mobile device (the &ldquo; Mobile App&rdquo;) or through any  other channel made available by the Service Provider for booking purpose.</li>
          <li>The <a href="http://goserwizz.com">Services</a> may be requested through, <a href="http://goserwizz.com">GoSerwizz  Website</a>, an application supplied by the Service Provider and downloaded  and installed by You on internet-enabled mobile device (the &ldquo;Application (<a href="http://goserwizz.com">goserwizz</a>)&rdquo;) or through any other channel  made available by the Service Provider for booking purpose.</li>
          <li>All services provided by the Service Provider, through Software (<a href="http://goserwizz.com">goserwizz</a>) or Mobile App, to the Customer  by means of the Customer&rsquo;s use of the booking channel (<a href="http://goserwizz.com">GoSerwizz Website</a>/Application (<a href="http://goserwizz.com">goserwizz</a>) etc.), for booking purposes,  are hereinafter referred to as the &ldquo;Service&rdquo;. Furthermore, the term Services  shall include any service for which any consideration is paid /not paid /  partly paid to the Service Provider by the Customer and will be covered by  these Terms and Conditions.</li>
          </ol>
          </li>
          <li>
          <p>This document is an electronic record in terms of Information  Technology Act, 2000 and rules there under as applicable and the amended  provisions pertaining to electronic records in various statutes as amended by  the Information Technology Act, 2000. This electronic record is generated by a  computer system and does not require any physical or digital signatures.</p>
          </li>
          <li>
          <p>This document is published in accordance with the provisions of  Rule 3 (1) of the Information Technology (Intermediaries guidelines) Rules,  2011 that require publishing the rules and regulations, privacy policy and  Terms of Use for access or usage of <a href="http://goserwizz.com">GoSerwizz Website</a> and  mobile application.</p>
          </li>
          <li>                    	
          <p>The Customer&rsquo;s access and use of the <a href="http://goserwizz.com">Services</a> constitutes his/her/their  irrevocable acceptance of these Terms and Conditions, which establishes a  contractual relationship between the Service Provider and the Customer. These  Terms and Conditions expressly supersede any oral or written prior agreements  or arrangements between Service Provider and Customer. The Service Provider may  immediately terminate these Terms and Conditions or any <a href="http://goserwizz.com">Services</a> with respect to the  Customer, or generally cease offering or deny access to the <a href="http://goserwizz.com">Services</a> or any portion thereof, at  any time without assigning any reason.</p>
          </li>
          <li>                    	
          <p>The <a href="http://goserwizz.com">Services</a> offered by the Service  Provider are sourced from CMR parties who have a contractual relationship with  the Service Provider. The Service Provider offers information and a method to  obtain such CMR services from CMR service providers, but does not, and does not  intend to, provide CMR services or act in any way as a CMR service provider,  and has no responsibility or liability for any CMR services provided to (or  failed to be provided) nor for the actions or inactions of any CMR service  providers.</p>
          </li>
          <li>
          <p>We do not guarantee or warrant, and make no representations regarding,  the reliability, quality or suitability of such CMR service providers. The  Service Provider shall reasonably provide sufficient training, quality control  procedures and processes to ensure commercially reasonable <a href="http://goserwizz.com">Services</a> by CMR service providers.  However, under no circumstance does the Service Provider accept liability in  connection with and/or arising from the <a href="http://goserwizz.com">Services</a> or any acts, action,  behavior, conduct, and/or negligence on the part of the CMR service provider  whether online or offline. Any complaints about the services provided by the  CMR service provider should be directly submitted to the concerned CMR service  provider. By using these <a href="http://goserwizz.com">Services</a>, You agree to hold the  Company free from any responsibility, liability or damages that may arise out  of or in relation to booking Service through our <a href="http://goserwizz.com">GoSerwizz  Website</a>, Mobile App or the Services. The Company and its affiliates and  licensors shall not be liable for any claim, injury or damages arising out of  or in connection with Your use of the Service or the CMR <a href="http://goserwizz.com">Services</a>.</p>
          </li>
          <li>
          <p>You may only access the <a href="http://goserwizz.com">s<u>ervice</u></a> using authorized means. It  is Your responsibility to check and ensure that You have accessed or downloaded  the correct <a href="http://goserwizz.com">GoSerwizz Website</a>/Application  (<a href="http://goserwizz.com">goserwizz</a>) for Your device. The  Company is not liable if You do not have a compatible handset</p>
          </li>
          <li>
          <h2>ELIGIBILITY</h2>
          <p>Our <a href="http://goserwizz.com">Services</a> are available only to  those individuals or companies who can form legally binding contracts under  Indian Contract Act, 1872 or any other law for the time being in force.  Therefore, Customer(s) must be at least eighteen (18) years of age to be  eligible to use Our Services.</p>
          <p>Company  advises its Customers that while accessing the <a href="http://goserwizz.com">GoSerwizz  Website</a>/ Mobile App, You must follow/abide by all the applicable laws. We  are not responsible for any possible consequences caused by Your behavior  during use of the <a href="http://goserwizz.com">GoSerwizz Website</a>.</p>
          </li>
          <li>
          <h2>YOUR CONTENT ON WEBSITE/APPLICATION</h2>
          <p>As a  Customer You are required to register on Our <a href="http://goserwizz.com">GoSerwizz  Website</a>/ Mobile App by creating Your profile. Profile can be created by  providing Your name, email address and telephone/mobile number, You can also  register with us using your Facebook, Google Plus and Twitter profile. In order  to avail our <a href="http://goserwizz.com">Services</a> You will be requested to  submit additional information such as vehicle details (including vehicle no.,  vehicle make, vehicle model no.). At the time of making Your booking, You will  have to deposit 30% of the estimated amount with the Company, which amount will  be adjusted in the final bill settled with the CMR on successful completion of  the work undertaken by the CMR. For this purpose, You will be required to make  online payments for which, You will have to further provide debit/credit card  information such as the debit/credit card number, card verification value etc.  All the above information provided by You on the <a href="http://goserwizz.com">GoSerwizz  Website</a>/ Mobile App is referred to as &ldquo;Your Content&rdquo; or &ldquo;Customer  Content&rdquo;. Customer hereby grants a non-exclusive, unlimited, perpetual license  to use the Customer Content for the purpose of providing Service hereunder.</p>
          </li>
          <li>
          <h2>APPLICABILITY</h2>
          <p>These Terms and Conditions apply to Customers who access the <a href="http://goserwizz.com">GoSerwizz  Website</a>/ Mobile App for any purpose. It also applies to any legal entity  which may be represented by the Customer under actual or apparent authority.  These Terms and Conditions apply to all <a href="http://goserwizz.com">Services</a> offered on the <a href="http://goserwizz.com">GoSerwizz  Website</a> / Mobile App, collectively with any additional terms and  condition that may be applicable to the specific Service used/accessed by the  Customer.</p>
          <p>In the event of a conflict or inconsistency between any provision of the terms and  conditions mentioned herein with those of the particular service, the  provisions of the terms and conditions applicable to such specific <a href="http://goserwizz.com">Services</a> shall prevail.</p>
          </li>
          <li>
          <h2>SUBSEQUENT AMENDMENTS, MODIFICATIONS AND RESTATEMENTS</h2>
          <p>The Service Provider may change, modify, amend, alter, delete or update these Terms  and Conditions at any time, from time to time without any prior notification to  the Customer and the amended terms and conditions of use shall be effective  immediately on them being posted on the <a href="http://goserwizz.com">GoSerwizz  Website</a>/Mobile App. If the Customer does not adhere to the changes, the  Service Provider shall terminate these Terms and Conditions with respect to  such Customer and deny access to <a href="http://goserwizz.com">Services</a> at the Service Provider&rsquo;s  sole discretion. The continued use of the <a href="http://goserwizz.com">Services</a> by the Customer will  signify the unequivocal acceptance of the amended terms and conditions.</p>
          </li>
          <li>
          <h2>COMMUNICATION</h2>
          <p>To improve the <a href="http://goserwizz.com">S<u>ervice</u></a> that We provide to You,  You may need to communicate with Us through emails or any other mode of  communication. When You use the <a href="http://goserwizz.com">GoSerwizz Website</a>/Mobile  App or send emails or other data and information to Us, You agree and  understand that You are communicating with Us through electronic records and  You hereby provide Your express consent to receive communications via  electronic records from Us periodically as well as and when required. We may  communicate with You by email, short messaging service or such other mode of  communication, electronic or otherwise as we deem fit and proper. It is  important that You understand that any such mode of communication, inter alia,  helps Us provide You with information that We think You require from time to  time such as confirmation of a Service booked on the <a href="http://goserwizz.com">GoSerwizz  Website</a>/Mobile App or knowing the status of delivery of Your vehicle.</p>
          </li>
          <li>
          <h2>LICENSE GRANT & RESTRICTIONS</h2>
          <p>The  Company hereby grants You a non-exclusive, non-transferable, right to use the  Software by way of <a href="http://goserwizz.com">GoSerwizz Website</a>/Mobile  App and <a href="http://goserwizz.com">S<u>ervice</u></a>, solely for your own  personal, non-commercial purposes, subject to the terms and conditions of this  Agreement. All rights not expressly granted to you are reserved by the Company  and its licensors.</p>
          <p>In furtherance of this, You shall not:</p>
          <ol type="i">
          <li>license, sublicense, sell, resell, transfer, assign, distribute or  otherwise commercially exploit or make available to any third party the <a href="http://goserwizz.com">S<u>ervice</u></a> or the Software (<a href="http://goserwizz.com">goserwizz</a>) in any way;</li>
          <li>modify or make derivative works based upon the <a href="http://goserwizz.com">S<u>ervice</u></a> or the Software (<a href="http://goserwizz.com">goserwizz</a>);</li>
          <li>create Internet &quot;links&quot; to the <a href="http://goserwizz.com">Service</a> or  &quot;frame&quot; or &quot;mirror&quot; any Software on any other server or  wireless or Internet-based device;</li>
          <li>reverse engineer the Software;</li>
          <li>access the Software (<a href="http://goserwizz.com">goserwizz</a>)  or <a href="http://goserwizz.com">Services</a> in order to (a) build a  competitive product or service, (b) build a product using similar ideas,  features, functions or graphics of the <a href="http://goserwizz.com">S<u>ervice</u></a> or Software (<a href="http://goserwizz.com">goserwizz</a>), or (c) copy any ideas,  features, functions or graphics of the <a href="http://goserwizz.com">S<u>ervice</u></a> or Software (<a href="http://goserwizz.com">goserwizz</a>);</li>
          <li>launch an automated program or script, including, but not limited  to, web spiders, web crawlers, web robots, web ants, web indexers, bots,  viruses or worms, or any program which may make multiple server requests per  second, or unduly burdens or hinders the operation and/or performance of the <a href="http://goserwizz.com">S<u>ervice</u></a> or Software (<a href="http://goserwizz.com">goserwizz</a>).</li>
          </ol>
          <p>You shall not:</p>
          <ol type="i">
          <li>send spam or otherwise duplicative or unsolicited messages in  violation of applicable laws;</li>
          <li>send or store infringing, obscene, threatening, libelous, or  otherwise unlawful or tortious material, including material harmful to children  or violate of third party privacy rights;</li>
          <li>send or store material containing software viruses, worms, Trojan  horses or other harmful computer code, files, scripts, agents or programs;</li>
          <li>interfere with or disrupt the integrity or performance of the  Software (<a href="http://goserwizz.com">goserwizz</a>) or <a href="http://goserwizz.com">S<u>ervice</u></a> or the data contained  therein;</li>
          <li>attempt to gain unauthorized access to the Software (<a href="http://goserwizz.com">goserwizz</a>) or <a href="http://goserwizz.com">S<u>ervice</u></a> or its related systems or  networks.</li>
          </ol>
          </li>
          <li>
          <h2>INTELLECTUAL PROPERTY RIGHTS </h2>
          <p>The <a href="http://goserwizz.com">S<u>ervice</u></a> Provider is the author,  sole owner or lawful licensee of all the rights in the <a href="http://goserwizz.com">GoSerwizz  Website</a>/Mobile App (Software (<a href="http://goserwizz.com">goserwizz</a>))  and its content. <a href="http://goserwizz.com">GoSerwizz Website</a>/Mobile  App content means the <a href="http://goserwizz.com">GoSerwizz Website&rsquo;s</a>/App&rsquo;s  design, layout, text, images, graphics, sound, video, etc.</p>
          <ol type="i">
          <li>The <a href="http://goserwizz.com">GoSerwizz Website</a>/Application,  content embody the Company&rsquo;s trade secrets and intellectual property rights  protected under applicable copyright and other laws.</li>
          <li>All title, ownership and intellectual property rights in the <a href="http://goserwizz.com">GoSerwizz  Website</a>/Mobile App and content shall remain with the Service Provider,  its affiliates or licensors of content, as the case may be.</li>
          
          <li>All rights not otherwise claimed under these Terms and Conditions  are hereby reserved by the Service Provider. The information contained in the <a href="http://goserwizz.com">GoSerwizz  Website</a>/Mobile App is intended, solely to provide general information for  Your personal use, and You accept full responsibility for its use.</li>
          <li>The <a href="http://goserwizz.com">S<u>ervice</u></a> Provider does not  represent or endorse the accuracy or reliability of any information, or  advertisements (collectively, the &ldquo;Content&rdquo;) contained on, distributed through,  or linked, downloaded or accessed from any of the Services contained on <a href="http://goserwizz.com">GoSerwizz  Website</a>/Mobile App, or the quality of any products, information, <a href="http://goserwizz.com">Services</a>, or other materials  displayed, or obtained by the Customer as a result of an advertisement or any  other information or offer in or in connection with the Service. 
          </li>
          <li>The <a href="http://goserwizz.com">S<u>ervice</u></a> Provider reserves the  right, in its sole discretion and without any obligation, to make improvements  to, or correct any error or omissions in any portion of the <a href="http://goserwizz.com">S<u>ervice</u></a> or the <a href="http://goserwizz.com">GoSerwizz  Website</a>/Mobile App.</li>
          <li>All related icons and logos are registered trademarks or  trademarks or service marks of the <a href="http://goserwizz.com">S<u>ervice</u></a> Provider and are protected  under applicable trademark and other proprietary rights laws. The unauthorized  copying, modification, use or publication of these marks is strictly  prohibited.</li>
          <li>All content on the <a href="http://goserwizz.com">GoSerwizz Website</a>/Mobile  App is the copyright of the Service Provider except the third party content and  link to third party website on Our <a href="http://goserwizz.com">GoSerwizz Website</a>/Mobile  App.</li>
          <li>Links to third party sites are provided by <a href="http://goserwizz.com">GoSerwizz  Website</a> as a convenience only and the Service Provider does not have any  control over such sites i.e. content and resources provided by such third  parties. The Service Provider shall not be held responsible or liable to anyone  for such third party site, or any Content, products or <a href="http://goserwizz.com">Services</a> made available on <a href="http://goserwizz.com">GoSerwizz  Website</a>/Mobile App.</li>
          </ol>
          </li>
          <li>
          <h2>INDEMNIFICATION</h2>
          <p>By  accepting these Terms and Conditions and by using the Service, the Customer  agrees to defend, indemnify and hold the Service Provider, its affiliates, its  licensors, and each of their officers, directors, other Customers, employees,  attorneys and agents harmless from and against any and all claims, costs,  damages, losses, liabilities and expenses (including attorneys' fees and costs)  arising out of or in connection with:</p>
          <ol type="a">
          <li>any breach of these Terms and Conditions or any applicable law or  regulation, whether or not referenced herein;</li>
          <li>any allegation that Your information infringes or otherwise  violates the copyright, patent, trademark, trade secret, or other intellectual  property or other rights of any third party;</li>
          <li>the Customer&rsquo;s use or misuse of the <a href="http://goserwizz.com">GoSerwizz  Website</a>/Application or <a href="http://goserwizz.com">S<u>ervice</u></a>;</li>
          <li>false/incorrect Customer Content; or</li>
          <li>Your negligence or willful misconduct. </li>
          </ol>
          </li>
          <li>
          <h2>LIMITATION OF LIABILITIES </h2>
          <ol type="i">
          <li>In no event shall the Service Provider, any of its director&rsquo;s,  partner&rsquo;s, licensors, sponsors, successors, assigns, its directors, officers,  employees, consultants or other representatives, be liable for any indirect,  punitive, incidental, special, exemplary, consequential damages or other  damages (including without limitation any damages for loss of use, data,  savings or profits) or liabilities under any contract, negligence, strict  liability, or other theory, arising out of or in any way connected with the  access, use or performance of the Content or <a href="http://goserwizz.com">Services</a> provided on or through the <a href="http://goserwizz.com">GoSerwizz Website</a>/Mobile  App whether or not We have been informed of the possibility of such damages or  liabilities.</li>
          <li>Your sole remedy with respect to Content, <a href="http://goserwizz.com">Services</a> provided on or through <a href="http://goserwizz.com">GoSerwizz  Website</a>/Mobile App is to stop using the <a href="http://goserwizz.com">GoSerwizz  Website</a>/Mobile App as applicable. Neither Service Provider nor any of its  director&rsquo;s, partners, licensors, sponsors, successors, or assigns, nor our  directors, officers, employees, consultants, or other representatives will have  any liability to You for any damages, expenses or other liability incurred by  You as a result of:
          <ol type="a">
          <li>Your access to or use of or inability to access or use <a href="http://goserwizz.com">GoSerwizz  Website</a>/Mobile App;</li>
          <li>Any inaccurate, incomplete or misrepresented Content, or <a href="http://goserwizz.com">Services</a> posted on the <a href="http://goserwizz.com">GoSerwizz  Website</a>/Mobile App;</li>
          <li>Your hiring or engagement of any CMR <a href="http://goserwizz.com">Services</a> provider through the <a href="http://goserwizz.com">GoSerwizz  Website</a>/Mobile App;</li>
          <li>Unauthorized access or use of Your account or Your information; or</li>
          <li>For interrupted communications, delay, act/omissions on the <a href="http://goserwizz.com">GoSerwizz  Website</a>/Mobile App.</li>
          </ol>
          </li>
          <li>The <a href="http://goserwizz.com">S<u>ervice</u></a> Provider will neither be  liable to pay any shortfall in the amount settled by insurance company nor for  loss of no claim bonus.</li>
          <li>In addition, to the fullest extent under the applicable law, in no  event will the <a href="http://goserwizz.com">S<u>ervice</u></a> Provider&rsquo;s aggregate  liability arising out of or in connection with these Terms and Conditions,  whether in contract, tort (including negligence, product liability, or other  theory), warranty, or otherwise, exceed the amount of Rs. 0/- (Rupees Zero).</li>
          </ol>
          </li>
          <li>
          <h2>WARRANTIES AND REPRESENTATIONS</h2>
          <p>The Customer hereby warrants that:</p>
          <ol type="i">
          <li>The Customer warrants that no case has been registered under any applicable law against the Customer Vehicle in the past.</li>
          <li>The Customer will produce documents showing legal ownership of the  Customer Vehicle in its name and insurance certificate indicating the Customer  Vehicle is duly insured, as and when required or requested by the <a href="http://goserwizz.com">S<u>ervice</u></a> Provider or by any CMR  service provider.</li>
          <li>The Customer Vehicle is not violating any other regulatory requirement as per the applicable laws.</li>
          <li>All Customer Content is accurate and complete at all times. </li>
          <li>The Customer or his representative will clear all dues owed to the  Service Provider in relation to the performance of <a href="http://goserwizz.com">Services</a>, including, but not  limited to, payment of all fees for the <a href="http://goserwizz.com">Services</a> rendered to Customer,  before Customer or his representative pick up the Customer Vehicle from the  location of CMR <a href="http://goserwizz.com">s<u>ervice</u></a> provider</li>
          <li>The Customer hereby confirms that : 
          <ol type="a">
          <li>The registration certificate, pollution under control (PUC)  certificate, and insurance policy for the Customer Vehicles are current and  compliant with applicable law;</li>
          <li>The Customer Vehicle has no defects or conditions that may cause it to be unsafe to drive;</li>
          <li>No illegal or prohibited items or substances are contained in the Customer Vehicle</li>
          <li>The Customer Vehicle shall have sufficient fuel for proper  performance of the <a href="http://goserwizz.com">Services</a>;</li>
          </ol>
          </li>
          <li>The <a href="http://goserwizz.com">S<u>ervice</u></a> Provider takes no  responsibility for the actions of any CMR <a href="http://goserwizz.com">s<u>ervice</u></a> provider and is not  accountable for any action or lack of skill on their part.</li>
          <li>The <a href="http://goserwizz.com">s<u>ervice</u></a> Provider shall use all  reasonable endeavor to ensure timely Service but makes no representation or  warranty regarding the time in which the <a href="http://goserwizz.com">s<u>ervice</u></a> would be completed and  shall not be held liable for any loss that may be suffered by the Customer on  account of any delay caused by circumstances beyond the control of the service  provider or acts and omissions on part of CMR <a href="http://goserwizz.com">s<u>ervice</u></a> providers.</li>
          <li>Company does not warrant that <a href="http://goserwizz.com">Services</a> will always be available.</li>
          </ol>
          </li>
          <li>
          <h2>DISCLAIMER OF WARRANTIES </h2>
          <p>The  Company makes no representation, warranty, or guaranty as to the reliability,  timeliness, quality, suitability, availability, accuracy or completeness of the  Content or <a href="http://goserwizz.com">S<u>ervice</u></a> or <a href="http://goserwizz.com">GoSerwizz  Website</a>/Mobile App or any CMR <a href="http://goserwizz.com">services</a>. While the company makes  every effort to give you the highest quality of service, the Company does not  represent or warrant that:</p>
          <ol type="a">
          <li>The use of the <a href="http://goserwizz.com">GoSerwizz Website</a>/Mobile  App will be secure, timely, uninterrupted or error-free or operate in  combination with any other hardware, software, system or data;</li>
          <li>The <a href="http://goserwizz.com">GoSerwizz Website</a>/Mobile  App or any CMR <a href="http://goserwizz.com">Services</a> will meet Your  requirements or expectations;</li>
          <li>Any stored data will be accurate or reliable;</li>
          <li>The quality of any Content, <a href="http://goserwizz.com">Services</a>, information, or other  material purchased or obtained by You through the <a href="http://goserwizz.com">GoSerwizz  Website</a>/Mobile App including any CMR <a href="http://goserwizz.com">Services</a> will meet Your  requirements or expectations;</li>
          <li>Errors or defects in the Content, <a href="http://goserwizz.com">S<u>ervice</u></a> or <a href="http://goserwizz.com">GoSerwizz  Website</a>/Mobile App will be corrected; or</li>
          <li>The server(s) that make the <a href="http://goserwizz.com">S<u>ervice</u></a> available are free of  viruses or other harmful components.</li>
          <li>The Content and Service through <a href="http://goserwizz.com">GoSerwizz  Website</a>/Mobile App including <a href="http://goserwizz.com">GoSerwizz Website</a>/Mobile  App is provided to You strictly on an &quot;as is&quot; basis.</li>
          <li>All conditions, representations and warranties, whether express,  implied, statutory or otherwise, including, without limitation, any implied  warranty of merchantability, fitness for a particular purpose, or  non-infringement of third party rights, are hereby disclaimed to the maximum  extent permitted by applicable law by the Company. The Company makes no  representation, warranty, or guaranty as to the reliability, safety,  timeliness, quality, suitability or availability of any third party <a href="http://goserwizz.com">Services</a>. You acknowledge and agree  that the entire risk arising out of Your use of the <a href="http://goserwizz.com">GoSerwizz  Website</a>/Mobile App and Service, and any CMR <a href="http://goserwizz.com">Services</a>, remains solely with You,  to the maximum extent permitted by law.</li>
          </ol>
          </li>
          <li>
          <h2>TERMS OF USE </h2>
          <p>The  Customer shall clear all dues before receiving possession of the Customer  Vehicle after performance of <a href="http://goserwizz.com">Services</a>. In the event of default  in payment by the Customer, the Service Provider or the CMR <a href="http://goserwizz.com">s<u>ervice</u></a> provider reserves the  right to lien over the Customer Vehicle among other legal rights and  proceedings under applicable law.</p>
          <p>By using  the Application or the <a href="http://goserwizz.com">S<u>ervice</u></a>, you further agree that:</p>
          <ol type="a">
          <li>You will neither resell it to a third party nor authorize others to use your account;</li>
          <li>You will not assign or otherwise transfer your account to any other person or legal entity;</li>
          <li>You will not use an account that is subject to any rights of a  person other than you without appropriate authorization from the <a href="http://goserwizz.com">s<u>ervice</u></a> provider;</li>
          
          <li>You will not use the <a href="http://goserwizz.com">S<u>ervice</u></a> or <a href="http://goserwizz.com">GoSerwizz  Website</a>/Mobile App for unlawful purposes, including but not limited to  sending or storing any unlawful material or for fraudulent purposes;</li>
          
          <li>You will not use the <a href="http://goserwizz.com">S<u>ervice</u></a> or <a href="http://goserwizz.com">GoSerwizz  Website</a>/Mobile App to cause nuisance, annoyance or inconvenience;</li>
          
          <li>You will not impair the proper operation of the network; </li>
          
          <li>You will not try to harm the <a href="http://goserwizz.com">S<u>ervice</u></a> or <a href="http://goserwizz.com">GoSerwizz  Website</a>/Mobile App in any way whatsoever nor will copy, or distribute the <a href="http://goserwizz.com">GoSerwizz Website</a>/Mobile  App or other Content without written permission from us;</li>
          <li>You will keep secure and confidential your account password or any  identification We provide you, which allows access to the <a href="http://goserwizz.com">S<u>ervice</u></a> through any booking  channel;</li>
          <li>You will provide Us with any proof of identity that We may reasonably request; </li>
          <li>Your vehicle will only be delivered by Us after the payment of all  fees for the <a href="http://goserwizz.com">Services</a> rendered to You;</li>
          <li>We reserve the right to immediately terminate the <a href="http://goserwizz.com">S<u>ervice</u></a> and the use of the <a href="http://goserwizz.com">GoSerwizz  Website</a>/Mobile App should You not comply with any of the above  provisions; and</li>
          <li><a href="http://goserwizz.com">S<u>ervice</u></a> Provider shall, upon  receiving the booking request from You, proceed to confirm or decline the  booking based on the availability/ unavailability of time slot. You shall be  informed of the status of the <a href="http://goserwizz.com">S<u>ervice</u></a> by message and email.</li>
          </ol>
          </li>
          <li>
          <h2>REGISTERED CUSTOMERS COVENANTS AND AUTHORIZATIONS </h2>
          <p>Registered Customers hereby covenants, agrees, and authorizes the Company as follows: </p>
          <ol type="a">
          <li>To assist the <a href="http://goserwizz.com">S<u>ervice</u></a> Provider in photography of  the Customer Vehicle to be showcased on the <a href="http://goserwizz.com">GoSerwizz  Website</a>;</li>
          <li>To pay a cancellation fee as billed by the Company for failure to  cancel reservation unless Customer cancels the <a href="http://goserwizz.com">S<u>ervice</u></a>  in accordance with the cancellation  provisions;</li>
          </ol>
          </li>
          <li>
          <h2>CUSTOMER ACKNOWLEDGEMENTS </h2>
          <p>Customer  hereby releases managers, employees, independent contractors, agents and from  any and all liability, including negligence, for any injury, including death or  property damage that may occur in connection with the <a href="http://goserwizz.com">S<u>ervice</u></a>. Further, Customer agrees  not to initiate any legal proceedings against managers, employees, independent  contractors, with respect to any such claims for damages, which Customer is  releasing. Customer is aware that various risks are involved in the <a href="http://goserwizz.com">GoSerwizz</a> Service.  Despite these and the other risks, Customer agrees to accept the <a href="http://goserwizz.com">S<u>ervice</u></a>  and is willing to agree to personally bear  such risks, assuming full responsibility for any harm or damage that may  result.</p>
          <p>Customer  will indemnify, defend and hold employees, independent contractors, agents  harmless from and against any and all losses, claims, liabilities, damages,  fines, penalties and expenses (including attorney's fees) arising from or  resulting from any breach by Customer of the representations, warranties or  covenants contained in this Agreement.</p>
          </li>
          <li>
          <h2>TERMINATION</h2>
          <p>The Company reserves the right to:</p>
          <ol type="a">
          <li>Modify or discontinue, temporarily or permanently, the <a href="http://goserwizz.com">S<u>ervice</u></a>  (or any part thereof) and;</li>
          <li>Refuse any and all current and future use of the <a href="http://goserwizz.com">S<u>ervice</u></a>, suspend or terminate Your  account (any part thereof) or use of the <a href="http://goserwizz.com">S<u>ervice</u></a>, for any reason. The  Company shall not be liable to You or any third party for any modification,  suspension or discontinuation of the <a href="http://goserwizz.com">S<u>ervice</u></a>.</li>
          </ol>
          </li>
          <li>
          <h2>PAYMENTS </h2>
          <p>You shall  pay the amount due for <a href="http://goserwizz.com">Services</a> rendered  through online payment only vide Net Banking, Credit Card, Debit card or Mobile  Wallet. Kindly note that We do not accept cash for <a href="http://goserwizz.com">Services</a> rendered. You may choose amongst any of the payment methods offered on the <a href="http://goserwizz.com">GoSerwizz  Website</a>/Mobile App.</p>
          <p>When You  choose to make an online payment, <a href="http://goserwizz.com">GoSerwizz</a> shall  collect the money on behalf of the CMR <a href="http://goserwizz.com">service</a> provider. Collection of the fare on behalf of the CMR <a href="http://goserwizz.com">service</a> provider  shall in no way imply that We are an agent of such CMR <a href="http://goserwizz.com">service</a> provider  or that We are providing such services on Our own account. We also offer You  the facility of making an online payment through an electronic wallet powered  by a third party payment processor (the &ldquo;Payment Processor&rdquo;). The processing of  payments or credits, as applicable, in connection with Your use of the  electronic wallet will be subject to the terms, conditions, and privacy  policies of the Payment Processor that We engage for the purpose. We will not be  responsible for any errors by the Payment Processor. In connection with Your  use of the <a href="http://goserwizz.com">Services</a>, We will obtain certain  transaction details, which We will use solely in accordance with Our Privacy  Policy. In the event the payment cannot be accepted through any of the methods  offered on the <a href="http://goserwizz.com">GoSerwizz Website</a> or  Mobile App, You shall be required to deposit the amount due for the <a href="http://goserwizz.com">Services</a> in cash  to Our designated bank before receiving the delivery of the Customer Vehicle.  We will generate the invoice on behalf of the CMR service provider <a href="http://goserwizz.com">servicing</a> Your  request, which will be sent across to Your registered e-mail. Any payment made  is non-refundable.</p>
          </li>
          <li>
          <h2>SEVERABILITY</h2>
          <p>The invalidity of any term of these Terms and Conditions shall not affect the validity of the other provisions of these Terms and Conditions.</p>
          <p>If any provision of these Terms and Conditions is deemed unenforceable due to its scope, a provision containing the maximum enforceable scope permitted by the governing law shall be substituted therefore.</p>
          <p>Any provision of this Agreement which is invalid, prohibited or unenforceable in any jurisdiction shall:</p>
          <ol type="i">
          <li>be ineffective in that jurisdiction to the extent of the invalidity, prohibition or unenforceability;</li>
          <li>not affect the validity of that provision in any other jurisdiction.</li>
          </ol>
          </li>
          <li>
          <h2>DISPUTE RESOLUTION </h2>
          <p>For any  complaint against any of the <a href="http://goserwizz.com">Services</a> provided  by the Service Provider through the <a href="http://goserwizz.com">GoSerwizz Website</a>/Mobile  App, the Customer can file an initial complaint to the <a href="http://goserwizz.com">Service</a> Provider  by submitting the complaint form available on the <a href="http://goserwizz.com">GoSerwizz  Website</a>. Complaint form can be duly filled by logging into Your account  on the <a href="http://goserwizz.com">GoSerwizz Website</a>/Mobile  App, and such complaint will be addressed in 30 (thirty) days from the date of  receipt of such complaint.</p>
          <p>If <a href="http://goserwizz.com">Service</a> Provider  fails to respond to a complaint as stated above and if any dispute arises out  of, or in connection with these Terms and Conditions including any question  regarding their existence, validity or termination or with regard to the <a href="http://goserwizz.com">Services</a> provided  shall be settled by conciliation or mediation proceedings in the first instance  within a maximum period of 30 (thirty) days, failing which the dispute shall be  settled by way of Arbitration. The seat of the arbitration shall be Bangalore.  The arbitration shall be governed by the Arbitration and Conciliation Act, 1996.</p>
          <p>There  shall be a sole arbitrator appointed by the Company. The arbitration award  shall be final, enforceable and binding between the parties.</p>
          </li>
          <li>
          <h2>GOVERNING LAW AND JURISDICTION</h2>
          <p>The law  governing the interpretation of these Terms and Conditions shall be Indian law.  Subject to the arbitration provisions stated above, the courts at Bangalore  will alone have jurisdiction over any disputes arising out of, or in connection  with these Terms and Conditions or with regard to the <a href="http://goserwizz.com">Services</a> provided.</p>
          </li>
          <li>
          <h2>FORCE MAJEURE </h2>
          <p>The <a href="http://goserwizz.com">Service</a> Provider  shall not be responsible for any loss or deficiency in <a href="http://goserwizz.com">Services</a> where  such loss or deficiency of <a href="http://goserwizz.com">Service</a> is due  to acts or circumstances which are beyond the control of the Service Provider,  which subject to the foregoing shall include but not be limited to: acts of god  such as fire, storm, flood, earthquake, explosion or accident; acts of public  enemy; acts of war or terrorism; rebellion; insurrection; sabotage; epidemic;  quarantine restrictions; transportation embargoes or failure or delays in  transportation; strikes and lockouts; acts (including laws, regulations,  disapproval or failure to approve) of any government, whether national,  municipal or otherwise, or any agency thereof; and acts of third parties where  such third parties are not under the control of the Company.</p>
          </li>
          </ol>
